---
import { MobileNav } from "../../mobile-nav";

import { HStack, Link, Text } from "~/components/ui";
import { api } from "~/lib/api";

export type Props = {
	bgColor: string;
};

const { bgColor } = Astro.props;

const categories = await api.categories.getCategories();
const socialLinks = await api.social.getLinks();
---

<header class:list={["category-bg", "sticky inset-0 z-20"]}>
	<HStack
		as="nav"
		stretch="width"
		alignment="center/between"
		className="justify-between border-b border-foreground px-6 pb-4 pt-6 lg:flex lg:justify-center lg:gap-12 lg:px-16 lg:pt-8"
	>
		<MobileNav
			client:idle
			categories={categories}
			social={socialLinks}
			background={bgColor}
		/>

		<Link.Nav
			href="/"
			className="flex items-baseline gap-1"
			transition:persist="header__logo"
		>
			<Text.H2 className="font-semibold italic tracking-tight">Revista</Text.H2>
			<Text.H1>Hronica</Text.H1>
		</Link.Nav>

		<nav
			class="hidden grow items-baseline justify-between lg:flex"
			transition:persist="header__nav"
		>
			{
				categories.map((category) => (
					<Text.Small className="text-foreground">
						<Link.Nav href={`/${category.id}`}>{category.name}</Link.Nav>
					</Text.Small>
				))
			}
		</nav>
	</HStack>
</header>

<style define:vars={{ bgColor }}>
	.category-bg {
		background-color: var(--bgColor);
	}
</style>
